main {
  padding: 16rem 8rem;
}

.flex-divs {
  border-radius: 0.8rem;
  padding: 5.5rem 4rem 5.5rem 11.5rem;
  @include flex(space-between, center);
  flex-wrap: wrap;
  width: 100%;
  height: 44rem;
  box-shadow: 0rem 0rem 1rem hsla(209, 11%, 55%, 0.4);

  .flex-text {
    width: 50rem;
    h3 {
      padding-bottom: 1rem;
      font-family: "Poppins", sans-serif;
      color: color(very-dark-cyan);
    }
    p {
      color: color(grayish-blue);
    }
  }

  .flex-img {
    width: 50rem;
    height: 100%;
    img {
      height: 100%;
    }
  }
}

.flowing {
  margin: 4rem 0;
  .flex-text {
    order: 2;
  }
  .flex-img {
    order: 1;
  }
}

@media (max-width: 1087px) {
  .flex-divs {
    padding: 5.5rem 4rem;
    height: auto;
    .flex-text {
      text-align: center;
      margin: 5rem;
      width: 100%;
    }

    .flex-img {
      max-width: 50rem;
      margin: 0 auto;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
  
  .grow,.users {
    margin: 4rem 0;
    .flex-text {
      order: 2;
    }
    .flex-img {
      order: 1;
    }
  }
}
