section.section1 {
  z-index: 2;
  background-color: color(very-pale-cyan);
  padding: 4.8rem 8rem 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.mobile {
  display: none;
}

header {
  @include flex(space-between, center);

  .logo {
    width: auto;
    height: 2 * 1.95rem;
  }
  .btn {
    cursor: pointer;
    box-shadow: $box-shadow-btn;
    height: 4.8rem;
    width: 20rem;
    border-radius: 2.5rem;
    background-color: white;
    @include idealFlex;
    a {
      color: color(very-dark-cyan);
    }

    @include hoverBTN;
  }
}

.bottom-part {
  @include flex(space-between, stretch);
  flex-flow: row wrap;
  margin-top: 6.1rem;
  .text-section1 {
    @include flex(space-between, flex-start);
    flex-direction: column;
    padding: 10rem 2rem 10rem 0;
    width: 50rem;
    h2,
    p {
      color: color(very-dark-cyan);
    }
    .link {
      background-color: color(pink-h);
      height: 5.6rem;
      border-radius: 3rem;
      box-shadow: $box-shadow-btn;
      width: 28rem;
      @include idealFlex;
      a {
        color: white;
      }

      @include hoverBTN;
    }
  }
  .image-section1 {
    width: 70rem;
    img {
      width: 70rem;
    }
  }
}

@media (max-width: 1087px) {
  section.section1 {
    padding: 4.8rem 10% 0;
    height: auto;
  }

  // /////////////////SENsetive work
  .bottom-part {
    @include flex(space-between, stretch);
    flex-flow: row wrap;
    margin-top: 6.1rem;
    .text-section1 {
      margin: 3rem 0;
      text-align: center;
      padding: 0;
      width: 100%;
      h2,
      p {
        display: block;
      }
      p {
        margin: 2.5rem 0 3rem;
      }
      h2 {
        width: 100%;
      }
      .link {
        margin: 0 auto;
      }
    }
    .image-section1 {
      margin: 5rem 0 3rem;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 384px) {
  header {
    .logo {
      width: auto;
      height: 2 * 1.95rem*.75;
    }
    .btn {
      cursor: pointer;
      box-shadow: $box-shadow-btn;
      height: 4.8rem*.75;
      width: 20rem*.75;
      border-radius: 2.5rem;
      background-color: white;
      @include idealFlex;
      a {
        color: color(very-dark-cyan);
      }

      @include hoverBTN;
    }
  }
}
