$colors: (
  pink-h: hsl(322, 100%, 66%),
  very-pale-cyan: hsl(193, 100%, 96%),
  very-dark-cyan: hsl(192, 100%, 9%),
  grayish-blue: hsl(208, 11%, 55%),
);

$box-shadow-btn: -0.3rem 0.3rem 1rem hsla(209, 11%, 55%, 0.35);

@function color($color) {
  @return map-get($colors, $color);
}

@mixin flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

@mixin idealFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 2 * 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

p,
a {
  font-size: 1.8rem;
}

@import "./section1";
