* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 3.78rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 2.7rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

p,
a, li {
  font-size: 1.8rem;
}

section.section1 {
  z-index: 2;
  background-color: #ebfbff;
  padding: 4.8rem 8rem 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.mobile {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: auto;
  height: 3.9rem;
}

header .btn {
  cursor: pointer;
  -webkit-box-shadow: -0.3rem 0.3rem 1rem rgba(128, 141, 153, 0.35);
          box-shadow: -0.3rem 0.3rem 1rem rgba(128, 141, 153, 0.35);
  height: 4.8rem;
  width: 20rem;
  border-radius: 2.5rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .btn a {
  color: #00252e;
}

.bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 6.1rem;
}

.bottom-part .text-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 2rem 10rem 0;
  width: 50rem;
}

.bottom-part .text-section1 h2,
.bottom-part .text-section1 p {
  color: #00252e;
}

.bottom-part .text-section1 .link {
  background-color: #ff52bf;
  height: 5.6rem;
  border-radius: 3rem;
  -webkit-box-shadow: -0.3rem 0.3rem 1rem rgba(128, 141, 153, 0.35);
          box-shadow: -0.3rem 0.3rem 1rem rgba(128, 141, 153, 0.35);
  width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-part .text-section1 .link a {
  color: white;
}

.bottom-part .image-section1 {
  width: 70rem;
}

.bottom-part .image-section1 img {
  width: 70rem;
}

main {
  padding: 16rem 8rem;
}

.flex-divs {
  border-radius: 0.8rem;
  padding: 5.5rem 4rem 5.5rem 11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 44rem;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(128, 141, 153, 0.4);
          box-shadow: 0rem 0rem 1rem rgba(128, 141, 153, 0.4);
}

.flex-divs .flex-text {
  width: 50rem;
}

.flex-divs .flex-text h3 {
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

.flex-divs .flex-text p {
  color: #808d99;
}

.flex-divs .flex-img {
  width: 50rem;
  height: 100%;
}

.flex-divs .flex-img img {
  height: 100%;
}

.flowing {
  margin: 4rem 0;
}

.flowing .flex-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.flowing .flex-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

footer {
  color: white;
  margin-top: 18.4rem;
  background-color: #00252e;
  padding: 18rem 8rem 6rem;
  position: relative;
}

.cta {
  border-radius: 1rem;
  padding: 5.2rem;
  width: 80rem;
  height: 28rem;
  position: absolute;
  top: -18.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(128, 141, 153, 0.4);
          box-shadow: 0rem 0rem 1rem rgba(128, 141, 153, 0.4);
}

.cta h2 {
  font-size: 3.15rem;
}

.link2 {
  -webkit-box-shadow: -0.3rem 0.3rem 1rem rgba(128, 141, 153, 0.35);
          box-shadow: -0.3rem 0.3rem 1rem rgba(128, 141, 153, 0.35);
  cursor: pointer;
  width: 40rem;
  height: 8rem;
  background-color: #ff52bf;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link2 a {
  color: white;
  font-size: 2rem;
}
/*# sourceMappingURL=styles.css.map */